.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-page-public);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
